:root {
    --background: #000000;
    --text: #FFFFFF;
    --text-empty: #282828;
    --text-populated: #A0A0A0;

    /* Accents (used by quick-launch + wallpapers gallery) */
    --blue: #89B4FA;
    --mauve: #CBA6F7;
    --surface0: #313244;
    --surface1: #45475A;
    --subtext0: #A6ADC8;
    --overlay0: #6C7086;
}

/* GLOBAL */
* {
    font-size: 11px;
    color: var(--text);
    font-weight: 800;
    font-family: "JetBrainsMono NFP";
}

/* Tooltip */
.tooltip {
    background-color: #000000;
    color: var(--text);
    border-radius: 5;
    border: 1px solid var(--overlay0);
    padding: 5px 5px;
    font-size: 11px;
    font-family: "JetBrainsMono NFP";
    font-weight: 600;
    margin-top: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.tooltip .tooltip-title {
    color: var(--blue);
    font-weight: 800;
    margin-bottom: 4px;
}

.tooltip .tooltip-label {
    color: var(--subtext0);
    font-weight: 600;
}

.tooltip .tooltip-value {
    color: var(--text);
    font-weight: 800;
}

.yasb-bar {
    padding: 0 8px; /* adding padding*/
    background-color: var(--background);
}

/* widget spacing */
.widget {
    margin: 0 6px;
}

.label {
    padding: 0 6px 0 0;
    margin: 0 4px 1px 0;
}

.widget .label {
    padding: 1px 0px 1px 0px;
}
/* Komoribic */
.komorebi-workspaces .ws-btn {
    border: none;
    color: var(--text-empty);
    margin: 0 1px 0 1px;
    height: 28px;
    padding: 0 6px;
    border-radius: 5px;
    height: 10px;
    width: 10px;
    transition: all 220ms ease-out;    /* animation */
}

.komorebi-workspaces .ws-btn.populated {
    color: var(--text-populated);
}

.komorebi-workspaces .ws-btn.active {
    color: var(--text);
    font-weight: 900;
}
/* walpaper*/
.wallpapers-widget {
    padding: 0 6px 2px 10px;
}
.wallpapers-gallery-window {
    background-color: rgba(233, 233, 233, 0.01);
    border: 0;
    margin: 0;
}
.wallpapers-gallery-buttons {
    background-color: #000000;
    color: var(--text);
    border: 1px solid var(--overlay0);
    font-size: 11px;
    font-weight: 800;
    padding: 8px 0;
    border-radius: 0;
    margin: 0 8px 8px 8px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color: #1a1a1a;
}

/* Wallpaper right-click */
.context-menu {
    background-color: #000000;
    color: var(--text);
    border-radius: 0;
    border: 1px solid var(--overlay0);
    padding: 2px 2px;
}
.context-menu::item {
    background-color: transparent;
    color: var(--text);
    padding: 6px 14px;
    margin: 0px 0px;
    border-radius: 0;
    min-width: 100px;
}
.context-menu::item:selected {
    background-color: #1a1a1a;
    color: var(--text);
}
.context-menu::separator {
    height: 1px;
    background-color: var(--overlay0);
    margin: 4px 6px;
}
.context-menu::item:disabled {
    color: var(--text-empty);
    background-color: transparent;
}
.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 5;
}
.wallpapers-gallery-image:hover {
    border: 4px solid rgb(66, 68, 83);
}
.wallpapers-gallery-image.focused {
    border: 4px solid var(--blue);
}

/* QUICK LAUNCH */
/* icon*/
.quick-launch-widget,
.quick-launch-widget .label,
.quick-launch-widget .icon {
    color: var(--text) !important;
    font-size: 11px;
    padding: 0 2px;
    margin: 0 2px;
}
.quick-launch-widget:hover,
.quick-launch-widget:focus,
.quick-launch-widget .icon:hover,
.quick-launch-widget .icon:focus {
    color: var(--text) !important;
    outline: none;
    border: none;
}
/* popup */
.quick-launch-popup .container {
    background-color: rgba(0, 0, 0, 0.88);
    border: 1px solid var(--surface0);
}

/* search bar */
.quick-launch-popup .search {
    padding: 12px 16px;
    background-color: transparent;
    border-bottom: 1px solid var(--surface0);
}
.quick-launch-popup .search .loader-line {
    color: var(--mauve);
}
.quick-launch-popup .search .search-icon {
    font-family: "Segoe Fluent Icons";
    font-size: 16px;
    color: var(--subtext0);
    padding-right: 8px;
    min-width: 16px;
}
.quick-launch-popup .search .search-submit-icon {
    font-family: "Segoe Fluent Icons";
    font-size: 16px;
    color: var(--subtext0);
    min-width: 16px;
}
.quick-launch-popup .search .search-input {
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 14px;
    font-family: "JetBrainsMono NerdFont";
    font-weight: 600;
    padding: 4px 0;
}
/* badge prefix vd ">" cho command, "@" cho settings ... */
.quick-launch-popup .search .prefix {
    background: var(--mauve);
    border-radius: 6px;
    color: #000000;
    padding: 2px 8px;
    margin-top: 2px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 800;
    font-family: "JetBrainsMono NerdFont";
    max-height: 26px;
}

/* results list */
.quick-launch-popup .results {
    background: transparent;
    padding: 8px;
}
.quick-launch-popup .results-list-view {
    font-size: 13px;
    font-family: "JetBrainsMono NerdFont";
    font-weight: 800;
    color: var(--text);
}
.quick-launch-popup .results-list-view .description {
    color: var(--subtext0);
    font-size: 11px;
    font-family: "JetBrainsMono NerdFont";
    font-weight: 600;
}
.quick-launch-popup .results-list-view .separator {
    color: var(--overlay0);
    font-size: 11px;
    font-family: "JetBrainsMono NerdFont";
    font-weight: 600;
    padding: 4px 0 4px 12px;
}
.quick-launch-popup .results-list-view::item {
    padding: 10px 12px;
    border-radius: 8px;
}
.quick-launch-popup .results-list-view::item:hover,
.quick-launch-popup .results-list-view::item:selected {
    background-color: var(--surface0);
}
.quick-launch-popup .results-empty-text {
    font-size: 20px;
    font-family: "JetBrainsMono NerdFont";
    color: var(--text);
    padding-top: 8px;
}

/* preview*/
.quick-launch-popup .preview {
    background: rgba(0, 0, 0, 0);
    border-left: 1px solid var(--surface0);
}
.quick-launch-popup .preview .preview-text {
    font-size: 12px;
    color: var(--subtext0);
    padding: 8px 12px;
    font-family: "JetBrainsMono NerdFont";
    background-color: rgba(255, 255, 255, 0.03);
    border: none;
}
.quick-launch-popup .preview .preview-image {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 8px 12px;
}
.quick-launch-popup .preview .preview-meta {
    padding: 6px 12px;
    border-top: 1px solid var(--surface0);
    font-family: "JetBrainsMono NerdFont";
}
.quick-launch-popup .preview .preview-meta .preview-title {
    font-size: 13px;
    font-weight: 800;
    color: var(--text);
    font-family: "JetBrainsMono NerdFont";
    margin-bottom: 10px;
    margin-left: -2px;
}
.quick-launch-popup .preview .preview-meta .preview-subtitle {
    font-size: 11px;
    color: var(--subtext0);
    font-family: "JetBrainsMono NerdFont";
    padding-bottom: 1px;
}
.weather-wiget,
.weather-widget .label,
.weather-widget .icon {
    color: var(--text) !important;
    font-size: 11px;
    padding: 0 2px;
    margin: 0 1px;
}
